/* =========================
   DARK MODE STYLES (GLOBAL)
   ========================= */

body.dark {
    background-color: #020617;
}

.dashboard {
    background-color: #f4f6f8;
}
body.dark .dashboard,
body.dark .dashboard .main {
    background-color: #020617;
}
body.dark .sidebar {
    background-color: #020617;
    border-right: 1px solid #334155;
    color: #f9fafb;
}

body.dark .topbar h1 {
    color: #f9fafb;
}

body.dark .card {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* =========================
   FIX THEME BUTTON CLICK
   ========================= */

.topbar {
    position: relative;
    z-index: 10;
}

#themeToggle {
    position: relative;
    z-index: 9999;
    pointer-events: auto;
}
